@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Prompt","Ubuntu",sans-serif;
}
body{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}
#main{
    margin: 0 3.5rem;
}
nav{
    display: flex;
    gap: 65%;
}
.img-left img{
    width: 5rem;
    margin-top: 1rem;
}
.nav-right{
    /* text-align: center */
}
.list-items{
    display: flex;
    text-align: center;
}
.list-item{
    list-style:none;
    text-align: center;
    margin: 1.9rem 2rem 0 0;
}
.list-item a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 20px;
}
.list-item a:hover{
    background-color: #1B98F5;
    scroll-behavior: smooth;
}
/* Introduction CSS */
.introduction{
    display: flex;
    gap: 10%;
    margin: 3rem 3rem;
}
.introduction-left{
    margin: 2rem ;
}
.introduction-left h1{
    font-size: 4rem;
    margin-bottom: -1rem;
}
.introduction-left h2{
    font-size: 2rem;
    margin: 1rem 0;
}
.introduction-left p{
    font-size: 1.2rem;
    line-height: 30px;
    text-align: justify;
}
.introduction-right img{
    width: 25vw;
}
.introduction-skill{
    margin: 2rem 0;
    display: flex;
}
.introduction-skill img{
    width: 50px;
}
/* Projects CSS */
#projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 3rem;
}
#project-heading{
    font-size: 2.3rem;
    text-align: center;
    margin: 9rem 3rem 0;
}
.project-card{
    margin: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: #0000001a 0px 5px 10px 5px;
}
.project-card h4{
    font-size: 18px;
    text-align: center;
}
.project-card img{
    width: 300px;
    height: 200px;
}
.project-button{
    margin: 0.5rem 3rem;
}
.project-button a{
    font-size: 17px;
    text-decoration: none;
    padding: 3px 13px;
    border-radius: 12px;
    border: 2px solid #1B98F5;
}
.project-button a:hover{
    background-color: #1B98F5;
}
/* Contact Section */
#contact-heading{
    margin: 9rem 3rem 1rem;
    font-size: 2.3rem;
    text-align: center;
}
.contact{
    display: flex;
    margin: 1rem 3rem 6%;
    margin-bottom: 5.5%;   
    height: 35rem;
    gap: 15%;
}
.contact-left-card{
    padding: 1rem;
    margin-top: 1.5rem;
    margin-left: 4.8rem;
}
.contact-left-card img{
    width: 25rem;
    padding: 0 0 1rem 0;
}
.contact-left-card h3{
    font-size: 26px;
    margin:  0 5rem;
}
.contact-left-card p{
    font-size: 20px;
    margin: 0 7.5rem;
}
.contact-right{
    width: 38%;
    text-align: center;
    padding: 10.5rem 0;
}
.contact-right h2{
    font-size: 26px;
    margin: 0.5rem 0;
}
.contact-right h3{
    font-size: 18px;
    margin: 0.5rem 0;
}
.contact-right img{
    width: 3rem;
    gap: 4rem;
}
/* footer css */
footer{
    height: 10%;
}
footer img{
    width: 5rem;
    margin-left: 50%;
}